*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #f2f2f2;
}

a{
  outline: none;
  text-decoration: none;
  color: inherit;
}

button{
  cursor: pointer;
}